bookstore{
    background-color:rgb(217, 250, 215);
    width:100%;
}
book
{
    display: block;
    margin-top: 15pt;
    font-size: 13pt;
}
title
{   display: block;
    font-style: italic;  font-weight: bold;
}
author
{   display: block; font-style: italic;}

year{
    display: block; font-style: normal;
}

price{
    display: block; font-style: normal;
}